html {
    font-family: Arial;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a:visited {
    color: rgb(116, 2, 116);     /* text color unchanged after visisting the page */
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

* nav styles */ .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 1050px;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-left: 0;
    width: 800px;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.social:hover {
    background-color: #f8d8cf;
}

.socialFooter:hover {
    background-color: #f7bfb0;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #f8d8cf;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}