---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import python from "../assets/programming_icon/python.png";
import cplusplus from "../assets/programming_icon/c++.png";
import c from "../assets/programming_icon/c.png";
import astro from "../assets/programming_icon/astro.svg";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 id="top">About Me</h1>

    <h2 class="sub-heading">Who am I?</h2>
    <ul class="list">
        <li>
            <p style="margin-top: 0;">
                I'm <b>Kan Ho Wing</b> or you can call me <b>Ivan</b>
            </p>
        </li>
        <li>
            <p>
                A <b>Computer Engineering</b> student at
                <a href="https://hkust.edu.hk/zh-hant" target="_blank">
                    <b>
                        The Hong Kong University of Science and Technology
                        (HKUST)
                    </b>
                </a>
            </p>
        </li>
    </ul>

    <h2 class="sub-heading">Interests</h2>
    <ul class="list">
        <li>
            Sports: <b>Badminton</b>&#x1F3F8 <b>Tchoukball</b>&#x1F93E <b
                >Basketball</b
            >&#x1F3C0
        </li>
        <li>Enthusiast of <b>Cantopop music</b>&#x1F3B6</li>
        <ul>
            <p style="font-size: 1.125rem; margin-top: 0.3125rem; margin-bottom: 0;">
                Some of my favourite artists:
                <a href="https://www.youtube.com/watch?v=5yYNK4Gncww"target="_blank">Eason</a>,
                <a href="https://www.youtube.com/watch?v=JZYNGEudQx0"target="_blank">Terence Lam</a>,
                <a href="https://www.youtube.com/watch?v=ysgqDm4B5Rc"target="_blank">MC Cheung</a>,
                <a href='https://www.youtube.com/watch?v=YjgeLmX-6HE"'target="_blank">Jay Fung</a>
            </p>
            <p style="font-size: 1rem; margin-top: 0;">
                (You can click on each artist's name to discover my favorite
                songs by them.)
            </p>
        </ul>
        <li>
            Also listen to <b>J-Pop</b> and <b>Chinese Pop</b> music (sometimes)
        </li>
        <li>
            Big <b>Anime</b> fan!! <br />
            <p style="font-size: 1rem; margin-top: 0;">
                If you don't know what to watch next or haven't seen these yet,
                just follow this list.&#x1F609 <br />
                Also my top-3 anime
            </p>
        </li>
        <ol style="font-size: 1.125rem;">
            <li>進擊的巨人 Attack on Titan</li>
            <li>Hunter×Hunter</li>
            <li>無職轉生 Mushoku Tensei: Jobless Reincarnation</li>
        </ol>
        <li>
            Huge <b>Movie</b> lover &#x1F3A5 &#x1F37F
        </li>
    </ul>

    <h2 class="sub-heading">Skills</h2>
    <ul class="list">
        <li>
            Programming Languages: 
            <div style="display: inline-block;">
                Python <Image src={python} alt="Python" class="icon"/>
            </div>
            <div style="display: inline-block;">
                C++ <Image src={cplusplus} alt="C++" class="icon"/>
            </div>
            <div style="display: inline-block;">
                C <Image src={c} alt="C" class="icon"/>
            </div>
        </li>

        <li>
            Web Development: 
        </li>

        <li>
            Development Tools: 
        </li>

        <li>
            Languages: 
        </li>

        <li>
            Tools: 
        </li>
    </ul>
</BaseLayout>

<style>
    .list {
        font-size: 1.25rem;
    }

    #top {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:visited {
        color: black;
    }

    .sub-heading {
        margin-bottom: 1rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
    }
</style>
