---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 id="top">About Me</h1>

    <h2 class="sub-heading">Who am I?</h2>
    <ul>
        <li>
            <p style="margin-top: 0;">
                I'm <b>Kan Ho Wing</b> or you can call me <b>Ivan</b>
            </p>
        </li>
        <li>
            <p>
                A <b>Computer Engineering</b> student at
                <a href="https://hkust.edu.hk/zh-hant" target="_blank">
                    <b>
                        The Hong Kong University of Science and Technology
                        (HKUST)
                    </b>
                </a>
            </p>
        </li>
    </ul>

    <h2 class="sub-heading">Skills</h2>

    <h2 class="sub-heading">Interests</h2>
</BaseLayout>

<style>
    #top {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .sub-heading {
        margin-bottom: 15px;
    }
</style>
