---
import BaseLayout from "../layouts/BaseLayout.astro";
import github from "../assets/github.svg";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h1 id="hello">Hello! &#128075</h1>
	<h1>Welcome to My Website</h1>
	<h2>I'm Ivan <br /> A Computer Engineering &#128187 Student</h2>
</BaseLayout>

<style>
	#hello {
		font-size: 50px;
	}
</style>
