---
import BaseLayout from "../layouts/BaseLayout.astro";
import github from "../assets/github.svg";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Hello!</h1>
</BaseLayout>
