---
import Social from "./Social.astro"
---

<footer>
    <p>
        Learn more about me or my projects on
        <Social />
    </p>

    <style>
        footer {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
        }
        a {
            margin-left: 10px;
            text-decoration: none;
        }
    </style>
</footer>
