---
/* Main menu items */
const textLinks: { label: string; href: string }[] = [
    { label: "Home", href: "/" },
    { label: "About", href: "/about/" },
    { label: "Education", href: "/education/" },
    { label: "Projects", href: "/projects/" },
];
---

<div class="nav-links">
    {
        textLinks.map(({ label, href }) => (
            <a class="link" href={href}>{label}</a>
        )) 
    } 
</div>

<style>
    .nav-links {
        display: inline; 
        width: ;
    }
</style>


